

.mainCardImg{
    width:15%;
}

.imgInTable{
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
}

Table {
    overflow: hidden;
  }
  
  td, th {
    padding: 10px;
    position: relative;
    outline: 0;
  }
  
  body:not(.nohover) tbody tr:hover {
    background-color: #ffa;
  }

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #ffa;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}