.mainCardImg {
  width: 26%;
}

.imgInTable {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
}

table {
  overflow: hidden;
}

td,
th {
  padding: 10px;
  position: relative;
  outline: 0;
}

body:not(.nohover) tbody tr:hover {
  background-color: #ffa;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #ffa;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

.main-product-wrapper {
  box-shadow: 0 2px 15px -60px rgba(0, 0, 0, 0.283),
    0 6.7px 50.5px -60px rgba(0, 0, 0, 0.417),
    0 30px 226px -60px rgba(0, 0, 0, 0.7);
  margin-top: 30px !important;
}

.app-container {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.search-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-search {
  background-color: #606e60;
}

.backgroundImg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/background-trees.jpeg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

.form-control {
  width: 400px;
}

.outer-product-wrapper {
  background-color: #ebffeb;
  z-index: 0;
  width: 100vw;
}

.card-body {
  width: 100%;
}

.card-body > img {
  margin: 20px 0;
}
.card-title > h3 {
  font-size: 20px;
}

.product-top-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-top-body {
  margin-top: 20px;
  margin-left: 20px;
}

.product-description-list {
  margin-left: -30px;
}
table td:nth-child(2) {
  background-color: #ffc;
}

table th:nth-child(2) {
  background-color: #ffc;
}
