.widget-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 100px;
}
.input {
    text-align: center;
    width: 80px;
    margin-left: 10px;
}
.page-container {
    flex-grow: 1;
    flex-direction: column;
    display: flex; 
    align-items: center;
    background-image: radial-gradient( circle 613px at 24.5% 36%,  rgba(165,233,138,1) 0%, #bbb 90% );
    width: 100vw;
}
.widget-title {
    text-align: center;
}
.results-container {
    border-top: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100vw;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    .results-container {
        flex-direction: column;
    }
}

