.widget-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin-top: 100px;
}
.input {
  text-align: center;
  width: 80px;
  margin-left: 10px;
}
.page-container {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url(../../img/leaves-white-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.widget-title {
  text-align: center;
}
.results-container {
  border-top: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-around;
}
.box {
  width: 18%;
  height: 150px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.box-img {
  width: 45%;
  background-image: url('../../img/pineforests.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.box-data {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-result {
  font-weight: 700;
}
