.search-link {
  padding: 0;
  color: white;
  display: flex;
}
.selected {
  text-decoration: underline;
  font-size: 60px;
}
.navbar-link {
  font-size: 20px;
}
.search-link:hover {
  opacity: 0.8;
  color: white;
}
.btn-success {
  background: none;
  border-color: #606e60;
  padding: 0;
}
.btn-success:hover {
  background: none;
  border-color: #606e60;
}
.bg-success {
  opacity: 0.8;
  background: #606e60 !important;
}
.wingspan-brand-container {
  display: flex;
  align-items: center;
}
.tree {
  background-image: url('../../assets/tree_icon.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-side-navbar-container {
  color: white;
  display: flex;
  align-items: center;
  font-size: 29px;
}
.navbar-search {
  cursor: pointer;
}
.navbar-search:hover {
  opacity: 0.8;
}
.nav-item:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.navbar-brand {
  padding-top: 0;
}
.search-container {
  color: white;
  align-items: center;
  font-size: 29px;
  display: none;
}
.whiteText{
  color:white !important;
  font-size: 18px;
}
.whiteText-collapse {
  display: none;
}
@media screen and (max-width: 768px) {
  .right-side-navbar-container {
    display: none;
  }
  .search-container {
    display: flex;
  }
  .whiteText-collapse{
    color:white !important;
    font-size: 18px;
    display: inline-block; 
    width: 102px;
  }
  .btn-success {
    width: 0;
    padding: 0;
  }
}
