.search-link {
  padding: 0;
  color: white;
  display: flex;
}
.selected {
  text-decoration: underline;
  font-size: 60px;
}
.navbar-link {
  font-size: 20px;
}
.search-link:hover {
  opacity: 0.8;
  color: white;
}
.bg-success {
  opacity: 0.8;
  background: #606e60 !important;
}
.wingspan-brand-container {
  display: flex;
  align-items: center;
}
.tree {
  background-image: url('../../assets/tree_icon.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.wingspan-brand-name-mobile {
  display: none;
}
.right-side-navbar-container {
  color: white;
  display: flex;
  align-items: center;
  font-size: 29px;
}
.navbar-search {
  cursor: pointer;
  margin-right: 15px;
}
.navbar-search:hover {
  opacity: 0.8;
}
.nav-item:hover {
  opacity: 0.8;
}
.navbar-brand {
  padding-top: 0;
}
.search-container {
  color: white;
  align-items: center;
  font-size: 29px;
  display: none;
}
@media screen and (max-width: 768px) {
  .wingspan-brand-name {
    display: none;
  }
  .wingspan-brand-name-mobile {
    display: block;
  }
  .right-side-navbar-container {
    display: none;
  }
  .search-container {
    display: flex;
  }
}
