.box-container {
    text-align: center;
    font-weight: 600;
    width: 18%;
}
.box-title {
    font-size: 21px;
}
.box{
    width: 100%;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.box-img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-data {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-result {
    font-size: 20px;
}
.img-size {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 768px) {
    .box-container {
        width: 55%;
    }
}